html {
  height: 100%;
}
body {
  /*background-color: #f2ebda;*/
  font-family: Comic Sans MS;
  font-size: 12pt;
  height: 100%;
  /*color: #337ab7;*/
}

header {
  display: block;
}

header h1 {
  text-align: center;
  font-size: 70pt;
  margin-top: auto;
  margin-bottom: 0px;
  font-weight: normal;
  font-family: reis;
  color: white;
  background-color: #337ab7;
  /* thinking about making the top fo my header look like a chalkboard - but I commented it out for now*/
  /*background-color: #212121;
  color: snow;*/
}

.navRow {
  border-top: 1px solid gray;
  margin: 0px 15px 0px 15px;
}

header li {
  display: inline-block;
  padding: 20px 20px 20px 0px;
}

.main {
  min-height: calc(100vh - 300px);
  margin-top: 10px;
  margin-bottom: 10px;
}

footer {
  display: block;
  border-top: 1px solid gray;
  text-align: center;
  position: static;
  bottom: 0px;
  margin-bottom: 0px;
  padding: 10px;
  background-color: #337ab7;
  color: white;
}

footer p {
  margin-top: 5px;
  margin-bottom: 0px;
}

@font-face {
  font-family: reis;
  font-style: normal;
  font-weight: 100;
  src: url(reis.ttf), url(reis-regular.otf)
}
