body {
background-color: #c8a0a1;
font-family: fantasy;
margin-bottom: 10px;
margin-top: 10px;
}

#albumArt {
  text-align: center;
  margin: 10px 0px 0px 0px;
  border: none;
  padding: 0px;
}

th, caption {
  text-align: center;
}

#albumTitle {
  color: purple;
  width: 100%;
  text-align: center;
  border-bottom: 1px solid lightgray;
  background-color: transparent;
}

.bandMember {
  font-family: cursive;
  color: purple;
  font-weight: bolder;
  font-size: 14pt;
  font-style: italic;
}

#bandMembers, #tracks {
  font-size: 12pt;
}

#tracks th {
  color: darkblue;
  background-color: #a9a9a9;
  white-space: nowrap;
  padding-top: 5px;
}

#tracks td {
  font-style: italic;
  /*background-color: #f5dcb5;*/
  padding-top: 5px;
}

caption {
  font-size: 19pt;
  color: darkblue;
  margin-top: 15px;
}

/* old image style*/
/*img {
  border: 8px groove purple;
}*/

#bandMembers, #tracks {
  margin: auto;
}


#tracks, #tracks td, #tracks th {
  border: 2px groove gray;
  text-align: center;
  border-collapse: collapse;
}

#tracks tr:nth-of-type(even) {
  background-color: #f5dcb5;
}

@font-face {
  font-family: Diane;
  font-style: normal;
  font-weight: 100;
  src: url("Diane_de_France.eot?") format("eot"), url("Diane_de_France.woff") format("woff"), url("Diane_de_france.ttf") format("truetype"), url("Diane_de_France.svg#DdianedeFrance") format("svg");
}

@font-face {
  font-family: calligraphy;
  font-style: normal;
  font-weight: 100;
  src: url(Calligraphy_Hand_Made.ttf) format("truetype");
}
