#albumInfo {
  color: purple;
}

.bandMember {
  font-family: cursive;
  color: purple;
  font-weight: bolder;
  font-size: 14pt
}

#albumPage {
background-color: #c8a0a1;
font-family: fantasy;
}

#header {
  color: darkblue;
  background-color: #a9a9a9;
}

caption {
  font-size: 19pt;
  color: darkblue;
}

img {
  border: 8px groove purple;
}
