html {
  height: 100%;
}
body {
  font-size: 12pt;
  height: 100%;
  width: 100%;
}

h1 {
  text-align: center;
}

.row {
  margin: 15px;
}

#startingBet {
  width: 7em;
  border: 2px solid black;
  padding-left: 5px;
  vertical-align: top;
  padding-top: 0px;
}

#playButton {
  padding: 15px 60px 16px 60px;
  background-color: #ccc;
  border: 2px solid black;
  margin: auto;
}

#resultsTableContainer {
  background-color: #eee;
  display: none;
  padding-bottom: 20px;
  padding-top: 0px;
}

#resultsTable {
  margin: auto;
}

#resultsTable td {
  border: 2px solid white;
  text-align: left;
  padding: 10px;
  height: 60px;
  vertical-align: top;
  width: 60%;
}

#resultsTable caption {
  color: black;
  text-decoration: underline;
  padding-top: 0px;
  margin-top: -5px;
}

.start {
  font-weight: bold;
  background-color: #ccc;
}
