body {
  background-color: #f2ebda;
  font-family: Comic Sans MS;
}

header {
  display: block;
}

header h1 {
  text-align: center;
  font-size: 28pt;
  margin-top: 10px;
  font-weight: normal;
}

header ul {
  border-top: 1px solid gray;
  border-bottom: 1px solid gray;
}

header li {
  display: inline-block;
  padding: 20px 20px 20px 0px;
}

.main {
  min-height: calc(100vh - 280px);
}

footer {
  display: block;
  border-top: 1px solid gray;
  text-align: center;
  margin-top: 30px;
  position: static;
  bottom: 0px;
  margin-bottom: 0px;
  width: 100%;
  padding: 10px;
}

footer p {
  margin-top: 5px;
  margin-bottom: 0px;
}
